---
import PhotoGallery from "../components/PhotoGallery.astro";
import Global from "./Global.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
	workObj: CollectionEntry<"works">;
}
const { workObj } = Astro.props;
const { data } = workObj;
const { gallery, wistiaId, qqVideoId, vimeoId } = data;
const [workType, workName] = workObj.slug.split('/')
---

<Global pageTitle={data.title}>
	{
		gallery && (
			<section class="work-gallery">
				<PhotoGallery pictures={gallery} workType={workType} workName={workName} />
			</section>
		)
	}
	{
		wistiaId &&
			wistiaId.map((videoId) => (
				<section>
					<div
						class={`wistia_embed wistia_async_${videoId}`}
						style="height:360px;width:640px"
					>
						&nbsp;
					</div>
				</section>
			))
	}
	{
		qqVideoId &&
			qqVideoId.map((videoId) => (
				<iframe
					src={`https://v.qq.com/txp/iframe/player.html?vid=${videoId}`}
					allow={"autoplay; fullscreen"}
					allowfullscreen={true}
				/>
			))
	}
	{
		vimeoId &&
			vimeoId.map((videoId) => (
				<iframe
					src={`https://player.vimeo.com/video/${videoId}`}
					allow={"autoplay; fullscreen"}
					allowfullscreen={true}
				/>
			))
	}
	<section class="main">
		<h2>{data.title}</h2>
		<div class="work-description">
			{data.description}
		</div>
		<div class="work-content">
			<slot />
		</div>
	</section>
</Global>

{
	wistiaId && (
		<script
			charset="ISO-8859-1"
			src="//fast.wistia.com/assets/external/E-v1.js"
			async
		/>
	)
}
